.App {
  text-align: center;
}

.loyout-container {
  background: #f5f6fa 0% 0% no-repeat padding-box;
}

.container {
  display: flex;
  width: 100%;
}

.sideBar {
  width: 25%;
  padding: 20px;
}

.page_container {
  width: 100%;
  min-height: 750px;
  max-height: 750px;
  border: 1px solid black;
  padding: 20px;
  overflow-y: auto;
}
